StubService/Service References/ServiceReference/ToDoManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ToDoManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56923/TodoManager.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56923/TodoManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56923/TodoManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ToDoManagerService.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IToDoManager_GetTodoList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTodoList" />
  </wsdl:message>
  <wsdl:message name="IToDoManager_GetTodoList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTodoListResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoManager_UpdateToDoItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToDoItem" />
  </wsdl:message>
  <wsdl:message name="IToDoManager_UpdateToDoItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToDoItemResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoManager_CreateToDoItem_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateToDoItem" />
  </wsdl:message>
  <wsdl:message name="IToDoManager_CreateToDoItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateToDoItemResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoManager_DeleteToDoItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteToDoItem" />
  </wsdl:message>
  <wsdl:message name="IToDoManager_DeleteToDoItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteToDoItemResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoManager_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IToDoManager_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IToDoManager">
    <wsdl:operation name="GetTodoList">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoManager/GetTodoList" message="tns:IToDoManager_GetTodoList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoManager/GetTodoListResponse" message="tns:IToDoManager_GetTodoList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateToDoItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoManager/UpdateToDoItem" message="tns:IToDoManager_UpdateToDoItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoManager/UpdateToDoItemResponse" message="tns:IToDoManager_UpdateToDoItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateToDoItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoManager/CreateToDoItem" message="tns:IToDoManager_CreateToDoItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoManager/CreateToDoItemResponse" message="tns:IToDoManager_CreateToDoItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteToDoItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoManager/DeleteToDoItem" message="tns:IToDoManager_DeleteToDoItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoManager/DeleteToDoItemResponse" message="tns:IToDoManager_DeleteToDoItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoManager/CreateUser" message="tns:IToDoManager_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoManager/CreateUserResponse" message="tns:IToDoManager_CreateUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IToDoManager" type="tns:IToDoManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTodoList">
      <soap:operation soapAction="http://tempuri.org/IToDoManager/GetTodoList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateToDoItem">
      <soap:operation soapAction="http://tempuri.org/IToDoManager/UpdateToDoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateToDoItem">
      <soap:operation soapAction="http://tempuri.org/IToDoManager/CreateToDoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteToDoItem">
      <soap:operation soapAction="http://tempuri.org/IToDoManager/DeleteToDoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IToDoManager/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ToDoManager">
    <wsdl:port name="BasicHttpBinding_IToDoManager" binding="tns:BasicHttpBinding_IToDoManager">
      <soap:address location="http://localhost:56923/TodoManager.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>